
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>About Us</title>
        {%load static%}
        <link rel="stylesheet" href="{% static 'About.css' %} ">
        <link rel="icon" type="image/x-icon" href="{%static 'icon.webp'%}">
    </head>
    <body>

        <div class="f1">
            <h1>About Us</h1>
            <div id="vision">
                <h5>OUR VISION</h5>
                <h3>Technology <br> Everywhere <sup>TM</sup></h3>
            </div>

            <div id="mission">
                <h5>OUR MISSION</h5>
                <h3>
                    Accelerate the <br>
                    world's transition to <br>
                    Tech_Era
                </h3>
            </div>
        </div>

        <div class="f1">
            <div id="why">
                <br>
                <br>
                <h5>WHY IT MATTERS</h5>
                <h3>
                    Powered by <br>
                    AI,the <br>
                    future of the <br>
                    internet: Web3 will <br>
                    be more fair and <br>
                    equitable,owned by <br>
                    the builders,<br>
                    creators and users. <br>
                    You. <br><br>
                    We believe it is your <br>
                    basic right <br>
                    control your privacy, <br>
                    data and identity.
                </h3>
                <a href="/register">Start the Journey</a>
            </div>

        </div>

        <div class="f1">
            <div id="values">
                <br>
                <br>
                <br>
                <h3>Our Values</h3>
                <p>
                    We consider clarity of thought to be the single most
                    important traits we <br>
                    look for in our colleagues
                    <br>
                    <br>
                    We think about the message we want to deliver before we
                    speak,and <br>
                    know what is important and what is not
                    <br>
                    <br>
                    We are Concise and articulate,putting effort into making
                    things simple <br>
                    and easy to understand.
                </p>
            </div>
        </div>

        <div class="f1">
            <div id="join">
                <br><br><br><br>
                <h5>JOIN OUR TEAMS</h5>
                <h3>
                    Your ambition to <br>
                    grow is what sets <br>
                    you apart
                </h3>
                <a href="/home">Home</a>
            </div>
        </div>

    </body>

</html>