table{
    margin: auto;
    width: 50%;
    background:linear-gradient(to bottom,rgb(214, 224, 235),rgb(41, 230, 207));
}

td,th{
    padding: 10px;
    margin: auto;
    border: 2px solid black;
    text-align: center;
    
}
h1{
  text-align: center;
  color: red;
  text-shadow: 2px 2px #030000;
}